apiVersion: 1
groups:
    - orgId: 1
      name: group1
      folder: folder
      interval: 1m
      rules:
{% if alertmanager['alerts']['systemd_state_alert']['enabled'] %}
        - uid: service-down-alert
          title: "systemd service down alert"
          condition: C
          data:
            - refId: A
              relativeTimeRange:
                from: 600
                to: 0
              datasourceUid: prometheus-datasource
              model:
                disableTextWrap: false
                editorMode: builder
                expr: systemd_unit_state{state="active"}
                fullMetaSearch: false
                includeNullMetadata: true
                instant: true
                intervalMs: 1000
                legendFormat: __auto
                maxDataPoints: 43200
                range: false
                refId: A
                useBackend: false
            - refId: B
              relativeTimeRange:
                from: 600
                to: 0
              datasourceUid: __expr__
              model:
                conditions:
                    - evaluator:
                        params: []
                        type: gt
                      operator:
                        type: and
                      query:
                        params:
                            - B
                      reducer:
                        params: []
                        type: last
                      type: query
                datasource:
                    type: __expr__
                    uid: __expr__
                expression: A
                intervalMs: 1000
                maxDataPoints: 43200
                reducer: last
                refId: B
                type: reduce
            - refId: C
              relativeTimeRange:
                from: 600
                to: 0
              datasourceUid: __expr__
              model:
                conditions:
                    - evaluator:
                        params:
                            - 1
                        type: lt
                      operator:
                        type: and
                      query:
                        params:
                            - C
                      reducer:
                        params: []
                        type: last
                      type: query
                datasource:
                    type: __expr__
                    uid: __expr__
                expression: B
                intervalMs: 1000
                maxDataPoints: 43200
                refId: C
                type: threshold
          dashboardUid: node-exporter-full
          noDataState: NoData
          execErrState: Error
          for: 0s
          annotations:
            __dashboardUid__: node-exporter-full
            __panelId__: "323"
            description: '{{ '{{ $labels.name }}' }} 서비스가 Down 되었습니다.'
            runbook_url: {{ alertmanager['alerts']['systemd_state_alert']['runbook_url'] }}
            summary: systemd 서비스 Down 알람
            dashboard_url: {{ global['external_grafana_url'] }}/d/node-exporter-full/node-exporter-full
          labels:
            server_name: {{ global['server_name'] }}
            severity: critical
          isPaused: false
{% endif %}
{% if alertmanager['alerts']['roofs_volume_alert']['enabled'] %}
        - uid: root-fs-voluem-alert
          title: Root FS volume alert
          condition: C
          data:
            - refId: A
              relativeTimeRange:
                from: 600
                to: 0
              datasourceUid: prometheus-datasource
              model:
                editorMode: code
                expr: 100 - (100 * ((node_filesystem_avail_bytes{mountpoint="/",fstype!="rootfs"} )  / (node_filesystem_size_bytes{mountpoint="/",fstype!="rootfs"}) ))
                instant: true
                intervalMs: 1000
                legendFormat: __auto
                maxDataPoints: 43200
                range: false
                refId: A
            - refId: B
              relativeTimeRange:
                from: 600
                to: 0
              datasourceUid: __expr__
              model:
                conditions:
                    - evaluator:
                        params: []
                        type: gt
                      operator:
                        type: and
                      query:
                        params:
                            - B
                      reducer:
                        params: []
                        type: last
                      type: query
                datasource:
                    type: __expr__
                    uid: __expr__
                expression: A
                intervalMs: 1000
                maxDataPoints: 43200
                reducer: last
                refId: B
                type: reduce
            - refId: C
              relativeTimeRange:
                from: 600
                to: 0
              datasourceUid: __expr__
              model:
                conditions:
                    - evaluator:
                        params:
                            - {{ alertmanager['alerts']['roofs_volume_alert']['warning_threshold'] }}
                        type: gt
                      operator:
                        type: and
                      query:
                        params:
                            - C
                      reducer:
                        params: []
                        type: last
                      type: query
                datasource:
                    type: __expr__
                    uid: __expr__
                expression: B
                intervalMs: 1000
                maxDataPoints: 43200
                refId: C
                type: threshold
          dashboardUid: node-exporter-full
          panelId: 154
          noDataState: NoData
          execErrState: Error
          for: 0s
          annotations:
            __dashboardUid__: node-exporter-full
            __panelId__: "154"
            dashboard_url: {{ global['external_grafana_url'] }}/d/node-exporter-full/node-exporter-full
            description: '`{{ '{{ $labels.mountpoint }}' }}` 에 마운트된 `{{ '{{ $labels.device }}' }}` 디바이스의 볼륨이 부족합니다. 현재 볼륨 사용량 `{{ '{{ $values.B.Value | printf "%2.f" }}' }}%`'
            runbook_url: {{ alertmanager['alerts']['roofs_volume_alert']['runbook_url'] }}
            summary: Root 경로 볼륨 부족 알람
          labels:
            server_name: {{ global['server_name'] }}
            severity: '{{ '{{if gt $$values.B.Value' }} {{ alertmanager['alerts']['roofs_volume_alert']['critical_threshold'] }} {{ '}}' }}critical{{else}}warning{{end}}'
          isPaused: false
{% endif %}
{% if alertmanager['alerts']['container_killed_alert']['enabled'] %}
        - uid: container-killed-alert
          title: Container Killed
          condition: C
          data:
            - refId: A
              relativeTimeRange:
                from: 600
                to: 0
              datasourceUid: prometheus-datasource
              model:
                editorMode: code
                exemplar: false
                expr: time() - (max by(name, image) (last_over_time(container_last_seen{name!=""}[3m]))) > 30
                instant: true
                interval: ""
                intervalMs: 1000
                legendFormat: __auto
                maxDataPoints: 43200
                range: false
                refId: A
            - refId: B
              relativeTimeRange:
                from: 600
                to: 0
              datasourceUid: __expr__
              model:
                conditions:
                    - evaluator:
                        params: []
                        type: gt
                      operator:
                        type: and
                      query:
                        params:
                            - B
                      reducer:
                        params: []
                        type: last
                      type: query
                datasource:
                    type: __expr__
                    uid: __expr__
                expression: A
                intervalMs: 1000
                maxDataPoints: 43200
                reducer: count
                refId: B
                settings:
                    mode: ""
                type: reduce
            - refId: C
              relativeTimeRange:
                from: 600
                to: 0
              datasourceUid: __expr__
              model:
                conditions:
                    - evaluator:
                        params:
                            - 0
                        type: gt
                      operator:
                        type: and
                      query:
                        params:
                            - C
                      reducer:
                        params: []
                        type: last
                      type: query
                datasource:
                    type: __expr__
                    uid: __expr__
                expression: B
                intervalMs: 1000
                maxDataPoints: 43200
                refId: C
                type: threshold
          dashboardUid: container-monitoring
          panelId: 22
          noDataState: OK
          execErrState: Error
          for: 0s
          annotations:
            __dashboardUid__: container-monitoring
            __panelId__: "22"
            dashboard_url: {{ global['external_grafana_url'] }}/d/container-monitoring/docker-container
            description: "`{{ '{{ $labels.image }}' }}` 이미지를 사용하는 \b`{{ '{{ $labels.name }}' }}` 이름의 컨테이너가 60초 이상 중지되었습니다."
            runbook_url: {{ alertmanager['alerts']['container_killed_alert']['runbook_url'] }}
            summary: "\b`{{ '{{ $labels.name }}' }}` 이름의 컨테이너가 60초 이상 중지되었습니다."
          labels:
            "": ""
            server_name: {{ global['server_name'] }}
            severity: warning
          isPaused: false
{% endif %}
